body{
    color:#fff;
    background-color: black;
}
.navbar-light .navbar-nav .nav-link .navbar-brand{
    color: #fff; /* White color */
  }

.rectanguloCeleste{
    background-color: #0DCAF0;
}

.card{
    background-color: #0DCAF0;
}

footer{
    background-color: #0DCAF0; 
    color: white;
}

html{
    scroll-behavior: smooth;
  }

.blanco{
    color: #fff; 
}

hr{
    height: 1px;
    background-color: #ccc;
    border: none;
}