body{
    color:#fff;
    background-color: black;
}

.navbar{
    background: #3292A0;
}

.rectanguloCeleste{
    background-color: #0DCAF0;
}

.card{
    background-color: #0DCAF0;
}

footer{
    background-color: #0DCAF0; 
    color: white;
}

html{
    scroll-behavior: smooth;
  }